*{
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;

    header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 20;
        border-bottom: 1px solid $colorA;
        
        .navbar-fondo {
            background-color: #ffffff;
        }

        @media (min-width: 720px) {
            .navbar-expand-lg .navbar-collapse {
                display: flex!important;
                flex-basis: auto;
            }
        
            .navbar-expand-lg .navbar-toggler {
                display: none;
            }
        
            .navbar-expand-lg .navbar-nav {
                flex-direction: row;
            }
        
            .navbar-expand-lg .navbar-nav .nav-link {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }
        
            .navbar-expand-lg .navbar-nav .dropdown-menu {
                position: absolute;
            }
        }
    }
    
    .contacto {
        background-color:$colorA;
        text-align: center;
        color: $colorB;
        font-weight: 900;
        padding: 2em;

        .texto-contacto {
            margin-bottom: 1em;
        }
    }
    
    
    footer{
        @extend .footer-ext;
        
        .icon {
            width: 40px;
        }
    }
}
