*{
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: 'Philosopher', sans-serif;

    header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 20;
        border-bottom: 1px solid $colorB;
        
        .navbar-fondo {
            background-color: #ffffff;

            .logo-nav {
                @include sizes(120px,40px)
            }

            .navbar-nav{
                font-size: large;
                .reglon-nav {
                    border-bottom: 1px solid gainsboro;
                }
            }
        }

        @media (min-width: 720px) {
            .navbar-expand-lg .navbar-collapse {
                display: flex!important;
                flex-basis: auto;
            }
        
            .navbar-expand-lg .navbar-toggler {
                display: none;
            }
        
            .navbar-expand-lg .navbar-nav {
                flex-direction: row;
            }
        
            .navbar-expand-lg .navbar-nav .nav-link {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }
        
            .navbar-expand-lg .navbar-nav .dropdown-menu {
                position: absolute;
            }
        }
    }
    
    .contacto {
        background-color:$colorC;
        text-align: center;
        color: $colorB;
        font-weight: 900;
        padding: 5%;
        @media (min-width:1020px){
            padding: 40px;
        }

        .texto-contacto {
            margin-bottom: 15px;
        }

        .boton-sub {
            color: $colorB;
            background-color: $colorD;
            padding: 0 5px;
            border: 1px solid $colorD
        }
    }
    
    
    footer{
        @extend .footer-ext;
        
        .icon {
            width: 35px;
            margin: 0px 5px;
        }

        .firma {
            color: $colorB;
            font-size: 15px;
        }
    }
}
