@import "_variables";
@import "_mixin";
@import "_extend";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;700;900&display=swap');
@import "_generales";
@import "_index";
@import "_personajes";
@import "_episodios";
