@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;700;900&display=swap");
.footer-ext, body footer {
  background-color: #401223;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  margin-top: 0;
}

* {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
body header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid #F2ECD8;
}
body header .navbar-fondo {
  background-color: #ffffff;
}
body header .navbar-fondo .logo-nav {
  width: 100px;
  height: 40px;
}
@media (min-width: 720px) {
  body header .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  body header .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  body header .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  body header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  body header .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
}
body .contacto {
  background-color: #F2ECD8;
  text-align: center;
  color: #401223;
  font-weight: 900;
  padding: 2em;
}
body .contacto .texto-contacto {
  margin-bottom: 1em;
}
body footer .icon {
  width: 40px;
}

.portada {
  margin-top: 60px;
}

.bienvenida {
  background-color: #401223;
  text-align: center;
  padding: 5%;
}
@media (min-width: 768px) {
  .bienvenida {
    padding: 5% 15%;
  }
}
@media (min-width: 1024px) {
  .bienvenida {
    padding: 5% 25%;
  }
}
.bienvenida .titulo-bien {
  color: #fafafa;
  font-size: 1.3em;
  margin-bottom: 1em;
}
.bienvenida .parrafo-bien {
  color: #F2ECD8;
  font-size: 0.8em;
  font-weight: 600;
}

#episodios {
  display: grid;
  justify-items: center;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  #episodios {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  #episodios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  #episodios {
    padding: 0 5%;
  }
}
#episodios .poster1 {
  background-image: url(../img/a1.png);
  background-position: center;
  background-size: cover;
  margin: 30px 0px;
  width: 300px;
  height: 450px;
  border: 2px solid #401223;
  transition: all 0.4s ease;
}
#episodios .poster1:hover {
  background-image: url(../img/a2.png);
  transform: scale(1.1);
}
@media (min-width: 1200px) {
  #episodios .poster1 {
    width: 350px;
    height: 500px;
  }
}
#episodios .poster2 {
  background-image: url(../img/b1.png);
  background-position: center;
  background-size: cover;
  margin: 30px 0px;
  width: 300px;
  height: 450px;
  border: 2px solid #401223;
  transition: all 0.4s ease;
}
#episodios .poster2:hover {
  background-image: url(../img/b2.png);
  transform: scale(1.1);
}
@media (min-width: 1200px) {
  #episodios .poster2 {
    width: 350px;
    height: 500px;
  }
}
#episodios .poster3 {
  background-image: url(../img/c1.png);
  background-position: center;
  background-size: cover;
  margin: 30px 0px;
  width: 300px;
  height: 450px;
  border: 2px solid #401223;
  transition: all 0.4s ease;
}
#episodios .poster3:hover {
  background-image: url(../img/c2.png);
  transform: scale(1.1);
}
@media (min-width: 1200px) {
  #episodios .poster3 {
    width: 350px;
    height: 500px;
  }
}
#episodios .poster4 {
  background-image: url(../img/d1.png);
  background-position: center;
  background-size: cover;
  margin: 30px 0px;
  width: 300px;
  height: 450px;
  border: 2px solid #401223;
  transition: all 0.4s ease;
}
#episodios .poster4:hover {
  background-image: url(../img/d2.png);
  transform: scale(1.1);
}
@media (min-width: 1200px) {
  #episodios .poster4 {
    width: 350px;
    height: 500px;
  }
}
#episodios .poster5 {
  background-image: url(../img/e1.png);
  background-position: center;
  background-size: cover;
  margin: 30px 0px;
  width: 300px;
  height: 450px;
  border: 2px solid #401223;
  transition: all 0.4s ease;
}
#episodios .poster5:hover {
  background-image: url(../img/e2.png);
  transform: scale(1.1);
}
@media (min-width: 1200px) {
  #episodios .poster5 {
    width: 350px;
    height: 500px;
  }
}
#episodios .poster6 {
  background-image: url(../img/step6.png);
  background-position: center;
  background-size: cover;
  margin: 30px 0px;
  width: 300px;
  height: 450px;
  border: 2px solid #401223;
  transition: all 0.4s ease;
}
#episodios .poster6:hover {
  transform: scale(1.1);
  background-image: url(../img/stepp6.png);
}
@media (min-width: 1200px) {
  #episodios .poster6 {
    width: 350px;
    height: 500px;
  }
}

.caja-personajes {
  margin-top: 60px;
}
.caja-personajes .box-foto {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}
@media (min-width: 768px) {
  .caja-personajes .box-foto {
    padding: 0;
    border: 2px solid black;
  }
}
.caja-personajes .descripcion-per,
.caja-personajes .descripcion-per2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background-color: #F2ECD8;
  padding: 5% 10%;
}
@media (min-width: 1200px) {
  .caja-personajes .descripcion-per,
.caja-personajes .descripcion-per2 {
    width: 100%;
  }
}
.caja-personajes .descripcion-per .titulo-per,
.caja-personajes .descripcion-per2 .titulo-per {
  font-size: 40px;
}
@media (min-width: 768px) {
  .caja-personajes .fondo-per, .caja-personajes .fondo-per2 {
    display: flex;
    align-items: center;
    padding: 2em 5em;
  }
}
@media (min-width: 1024px) {
  .caja-personajes .fondo-per, .caja-personajes .fondo-per2 {
    padding: 2em 6em;
  }
}
@media (min-width: 1200px) {
  .caja-personajes .fondo-per, .caja-personajes .fondo-per2 {
    padding: 3em 7em;
  }
}
@media (min-width: 768px) {
  .caja-personajes .fondo-per {
    background-color: #F2ECD8;
  }
}
@media (min-width: 768px) {
  .caja-personajes .descripcion-per2 {
    background-color: #ffffff;
  }
}

@media (max-width: 768px) {
  .contacto-personajes {
    background-color: #fafafa !important;
  }
}

.contenedor-episodio {
  display: flex;
  background-color: #F2ECD8;
  margin-top: 60px;
}
@media (min-width: 500px) {
  .contenedor-episodio {
    display: flex;
    background-color: #F2ECD8;
    margin-top: 60px;
  }
}
.contenedor-episodio .margen-ep {
  display: grid;
  margin: 30px 10%;
  justify-items: center;
}
@media (min-width: 500px) {
  .contenedor-episodio .margen-ep {
    display: flex;
  }
}
.contenedor-episodio .margen-ep .foto-portada {
  height: 300px;
}
.contenedor-episodio .margen-ep .descripcion-ep {
  display: flex;
  margin-top: 5%;
  font-size: 15px;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .contenedor-episodio .margen-ep .descripcion-ep {
    display: flex;
    margin-top: 0;
    margin-left: 5%;
    font-size: 13px;
    align-items: flex-start;
  }
}
@media (min-width: 720px) {
  .contenedor-episodio .margen-ep .descripcion-ep {
    font-size: 90%;
  }
}
@media (min-width: 768px) {
  .contenedor-episodio .margen-ep .descripcion-ep {
    font-size: 100%;
  }
}
@media (min-width: 1024px) {
  .contenedor-episodio .margen-ep .descripcion-ep {
    font-size: 130%;
  }
}
.contenedor-episodio .margen-ep .descripcion-ep .desc-ep {
  text-align: justify;
}

.box-video {
  display: flex;
  justify-content: center;
  margin: 30px 10%;
  flex-direction: column;
}
.box-video .contenedor-video {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  height: 280px;
}
@media (min-width: 500px) {
  .box-video .contenedor-video {
    height: 300px;
  }
}
@media (min-width: 720px) {
  .box-video .contenedor-video {
    height: 450px;
  }
}
@media (min-width: 1200px) {
  .box-video .contenedor-video {
    height: 800px;
  }
}
.box-video .contenedor-video iframe {
  width: 100%;
}
.box-video .botones .enlace-boton .boton-izq {
  margin-bottom: 10px;
}
.box-video .botones .boton-izq, .box-video .botones .boton-der {
  padding: 5px;
}
@media (min-width: 500px) {
  .box-video .botones {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 500px) {
  .box-video .botones-ep1 {
    display: flex;
    justify-content: flex-end;
  }
}
.box-video .botones-ep1 .enlace-boton .boton-der {
  padding: 5px;
}
@media (min-width: 500px) {
  .box-video .botones-ep5 {
    display: flex;
    justify-content: flex-start;
  }
}
.box-video .botones-ep5 .enlace-boton .boton-izq {
  padding: 5px;
}
.box-video .enlace-boton {
  text-decoration: none;
  text-align: center;
}
.box-video .enlace-boton .boton-izq, .box-video .enlace-boton .boton-der {
  color: #401223;
  font-weight: 600;
  border-radius: 20px;
  background-color: #F2ECD8;
  transition: all 0.5s;
}
.box-video .enlace-boton .boton-izq:hover, .box-video .enlace-boton .boton-der:hover {
  transform: scale(0.9);
}/*# sourceMappingURL=estilos.css.map */